{% extends 'blog/base.html' %}
{% block content %}
    <h2>About Blog</h2>
    <div>
        <p>
            This is a practice run of the Django framework based off of Corey Schafer's tutorial.
        </p>
    </div>
    <div class="small">
        <a href="https://www.youtube.com/playlist?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p">
            Tutorial Link
        </a>
        <p class="text-muted">
            Created by:
             <a href="https://github.com/yourlastnamesoundslikeatypeofpasta">
                Christian Zagazeta
            </a>
        </p>

    </div>
{% endblock content %}